<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OCAC Automation Suite" verbose="2">
	<listeners>
		<listener class-name="runner.AnnotationTransformer" />
		<listener class-name="runner.TestListener" />
	</listeners>
	<test name="Automation Project" parallel="classes"
		thread-count="70">
		<classes>

      <class name="componentStepDef.MedExpressCenters_StepDefinition" />
	  	<class name="componentStepDef.ErServicesMedex_StepDefinition" /> 
      <class name="componentStepDef.IntroTextHorizontal_StepDefinition" />			
      <class name="componentStepDef.Campaign_StepDefinition" /> 
		  <class name = "componentStepDef.CentersCards_StepDefinition"/>
		  <class name = "componentStepDef.MiddleImageMedex_StepDefinition"/>
		  <class name = "componentStepDef.SocialModule_StepDefinition"/>
		  <class name = "componentStepDef.ThoughLeadership_StepDefinition"/>
      <class name="componentStepDef.QuickContact_StepDefinition" />  
      <class name = "componentStepDef.AccordionV2_StepDefinition"/>
      <class name = "componentStepDef.CareerSearch_StepDefinition"/>

      <class name = "componentStepDef.TestimonialCarousel_StepDefinition"/>
      <class name="componentStepDef.CenterAccordion_StepDefinition" />
      <class name = "componentStepDef.WhyUs_StepDefinition"/>
 	
		  <class name="componentStepDef.WaitTime_StepDefinition" />

			<class name="componentStepDef.ImageResponsiveRendition_StepDefinition" />
			<class name="componentStepDef.SiteMap_StepDefinition" />
			<class name="componentStepDef.FooterLegalBar_StepDefinition" />
			<class name="componentStepDef.IconPickerNew_StepDefinition" />
			<class name="componentStepDef.AdaptiveImage_StepDefinition" />
			<class name="componentStepDef.InfographicHtml5_StepDefinition" />

			<class name="componentStepDef.BrokerHub_StepDefinition" />
			<class name="componentStepDef.Text_StepDefinition" />
			<class name="componentStepDef.CampaignCarousel_StepDefinition" />
			<class name="componentStepDef.ConsumableFaqHub_StepDefinition" />

			<class name="componentStepDef.IconVerticalLabel_StepDefinition" />
			<class name="componentStepDef.Aarp_StepDefinition" />
			<class name="componentStepDef.ArticleInPage_StepDefinition" />
			<class name="componentStepDef.CampaignCarousel_StepDefinition" />

			<class name="componentStepDef.MutualFundsTable_StepDefinition" />
			<class
				name="componentStepDef.MaterialCardImageDetail_stepDefinition" />

			<class name="componentStepDef.Video_StepDefinition" />
			<class name="componentStepDef.Logo_StepDefinition" />

			<class name="componentStepDef.AboutUs_StepDefinition" />
			<class name="componentStepDef.Sharebar_StepDefinition" />

			<class name="componentStepDef.SliderCarousel_StepDefinition" />

			<class name="componentStepDef.LeadersHub_StepDefinition" />
			<class name="componentStepDef.CrossPromoAread_StepDefinition" />

			<class name="componentStepDef.LoopingVideo_StepDefinition" />
			<class
				name="componentStepDef.ResourceLibrarySidebar_StepDefinition" />


			<class name="componentStepDef.BlogFeed_StepDefinition" />
			<class name="componentStepDef.Hscc_StepDefinition" />


			<class name="componentStepDef.InteractiveMap_StepDefinition" />

			<class name="componentStepDef.ColorBlock_StepDefinition" />
			<class name="componentStepDef.QmeHub_StepDefinition" />
			<class name="componentStepDef.ExpandableCards_StepDefinition" />

			<class name="componentStepDef.BioCard_StepDefinition" />
			<class name="componentStepDef.MaterialCardFade_StepDefinition" />

			<class name="componentStepDef.MaterialCard_StepDefinition" />


			<class name="componentStepDef.MainHeroBanner_StepDefinition" />
			<class name="componentStepDef.SubHeroBanner_StepDefinition" />

			<class
				name="componentStepDef.MaterialCardInfographic_StepDefinition" />
			<class name="componentStepDef.FeaturedArticle_StepDefinition" />


			<class name="componentStepDef.IconStrip_StepDefinition" />
			<class
				name="componentStepDef.MaterialCardTermDescription_StepDefinition" />


			<class name="componentStepDef.DynamicAlert_StepDefinition" />
			<class name="componentStepDef.PullQuote_StepDefinition" />
			<class name="componentStepDef.Card300Image_StepDefinition" />
			<class name="componentStepDef.LocalMessage_StepDefinition" />

			<!-- <class name="componentStepDef.MCL_StepDefinition" /> <class name 
				= "componentStepDef.PluV2_StepDefinition"/> -->
		</classes>
	</test>
</suite>