<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OCAC Automation Suite" verbose="2">
	<listeners>
		<!-- <listener class-name="runner.AnnotationTransformer" /> -->
		<listener class-name="com.optum.dpm.reports.TestListener" />
	</listeners>
	<test name="Automation Project" parallel="classes" thread-count="100">
		<classes>


 <class name="com.optum.dpm.refactored.LateralCard_StepDefinition" />
       <class name="com.optum.dpm.refactored.UtilityNav_StepDefinition" />
         <class name="com.optum.dpm.refactored.LoginBanner_StepDefinition" />
		<class name="com.optum.dpm.refactored.PhotoBlock_StepDefinition" />

		<class name="com.optum.dpm.refactored.ErStats_StepDefinition" />
			<class name="com.optum.dpm.refactored.ArticleBannerMedExpress_StepDefinition" />
	 		 <class name="com.optum.dpm.refactored.AskForRefill_StepDefinition" />
         <class name="com.optum.dpm.refactored.MapBanner_StepDefinition" />

		<class name="com.optum.dpm.refactored.AskForAReferral_StepDefinition" />
       <class name="com.optum.dpm.refactored.Search_map_StepDefinition" />

		<class name="com.optum.dpm.refactored.RequestAnAppointmentProhealth_StepDefinition" />
		<class name="com.optum.dpm.refactored.NearbyLocationMedex_StepDefinition" />
		<class name="com.optum.dpm.refactored.ArticleCrossLinkMedex_StepDefinition" />
		<class name="com.optum.dpm.refactored.CentersContentMedex_StepDefinition" />
		<class name="com.optum.dpm.refactored.NewsroomMedex_StepDefinition" />
		<class name="com.optum.dpm.refactored.PromoMessageHubMedex_StepDefinition" />
		<class name="com.optum.dpm.refactored.EmployeeCarouselMedex_StepDefinition" />
		<class name="com.optum.dpm.refactored.MainNavMedex_StepDefinition" />

		<class name="com.optum.dpm.refactored.RealtimeMedex_StepDefinition" />
   	    <class name="com.optum.dpm.refactored.MedexSiteSearchAndResult_StepDefinition" />
		<class name="com.optum.dpm.refactored.ServicesSectionMedex_StepDefinition" />
		<class name="com.optum.dpm.refactored.MiddleImagePlusMedex_StepDefinition" />
		<class name="com.optum.dpm.refactored.ContactUsTabMedex_StepDefinition" />
		<class name="com.optum.dpm.refactored.AtGlanceMedex_StepDefinition" />
		<class name="com.optum.dpm.refactored.LocalAlertHubMedex_StepDefinition" />

		<class name="com.optum.dpm.refactored.Insurance_Section_StepDefinition" /> 
        <class name="com.optum.dpm.refactored.ForumHeroBanner_StepDefinition" />
        <class name="com.optum.dpm.refactored.CtaModuleMedex_StepDefinition" />
        <class name="com.optum.dpm.refactored.MedExpressCenters_StepDefinition" />

    <class name="com.optum.dpm.refactored.ForumHeroBanner_StepDefinition" />
      <class name="com.optum.dpm.refactored.CtaModuleMedex_StepDefinition" />

      <class name="com.optum.dpm.refactored.MedExpressCenters_StepDefinition" />

	  	<class name="com.optum.dpm.refactored.ErServicesMedex_StepDefinition" /> 
        <class name="com.optum.dpm.refactored.IntroTextHorizontal_StepDefinition" />			
        <class name="com.optum.dpm.refactored.Campaign_StepDefinition" /> 
		  <class name = "com.optum.dpm.refactored.CentersCards_StepDefinition"/> 
		  <class name = "com.optum.dpm.refactored.MiddleImageMedex_StepDefinition"/>
		  <class name = "com.optum.dpm.refactored.SocialModule_StepDefinition"/>
		  <class name = "com.optum.dpm.refactored.ThoughLeadership_StepDefinition"/>
      <class name="com.optum.dpm.refactored.QuickContact_StepDefinition" />  
      <class name = "com.optum.dpm.refactored.AccordionV2_StepDefinition"/>
      <class name = "com.optum.dpm.refactored.TestimonialCarousel_StepDefinition"/>
      <class name="com.optum.dpm.refactored.CenterAccordion_StepDefinition" />
      <class name = "com.optum.dpm.refactored.WhyUs_StepDefinition"/>
<class name="com.optum.dpm.refactored.HorizontalRuleWithArrowDivider_StepDefinition" />
<class name="com.optum.dpm.refactored.HorizontalRuleWithNoArrowDivider_StepDefinition" />
		  <class name="com.optum.dpm.refactored.WaitTime_StepDefinition" />

			<class name="com.optum.dpm.refactored.ImageResponsiveRendition_StepDefinition" />
			<class name="com.optum.dpm.refactored.SiteMap_StepDefinition" />
			<class name="com.optum.dpm.refactored.FooterLegalBar_StepDefinition" />
			<class name="com.optum.dpm.refactored.IconPickerNew_StepDefinition" />
			<class name="com.optum.dpm.refactored.AdaptiveImage_StepDefinition" />
			<class name="com.optum.dpm.refactored.InfographicHtml5_StepDefinition" />

			<class name="com.optum.dpm.refactored.BrokerHub_StepDefinition" />
			<class name="com.optum.dpm.refactored.Text_StepDefinition" />
			<class name="com.optum.dpm.refactored.CampaignCarousel_StepDefinition" />
			<class name="com.optum.dpm.refactored.ConsumableFaqHub_StepDefinition" />

			<class name="com.optum.dpm.refactored.IconVerticalLabel_StepDefinition" />
			<class name="com.optum.dpm.refactored.Aarp_StepDefinition" />
			<class name="com.optum.dpm.refactored.ArticleInPage_StepDefinition" />

			<class name="com.optum.dpm.refactored.MutualFundsTable_StepDefinition" />
			<class
				name="com.optum.dpm.refactored.MaterialCardImageDetail_stepDefinition" />

			<class name="com.optum.dpm.refactored.Video_StepDefinition" />
			<class name="com.optum.dpm.refactored.Logo_StepDefinition" />

			<class name="com.optum.dpm.refactored.AboutUs_StepDefinition" />
			<class name="com.optum.dpm.refactored.Sharebar_StepDefinition" />

			<class name="com.optum.dpm.refactored.SliderCarousel_StepDefinition" />

			<class name="com.optum.dpm.refactored.LeadersHub_StepDefinition" />
			<class name="com.optum.dpm.refactored.CrossPromoAread_StepDefinition" />

			<class name="com.optum.dpm.refactored.LoopingVideo_StepDefinition" />
			<class
				name="com.optum.dpm.refactored.ResourceLibrarySidebar_StepDefinition" />


			<class name="com.optum.dpm.refactored.BlogFeed_StepDefinition" />
			<class name="com.optum.dpm.refactored.Hscc_StepDefinition" />


			<class name="com.optum.dpm.refactored.InteractiveMap_StepDefinition" />

			<class name="com.optum.dpm.refactored.ColorBlock_StepDefinition" />
			<class name="com.optum.dpm.refactored.QmeHub_StepDefinition" />
			<class name="com.optum.dpm.refactored.ExpandableCards_StepDefinition" />

			<class name="com.optum.dpm.refactored.BioCard_StepDefinition" />
			<class name="com.optum.dpm.refactored.MaterialCardFade_StepDefinition" />

			<class name="com.optum.dpm.refactored.MaterialCard_StepDefinition" />


			<class name="com.optum.dpm.refactored.MainHeroBanner_StepDefinition" />
			<class name="com.optum.dpm.refactored.SubHeroBanner_StepDefinition" />

			<class name="com.optum.dpm.refactored.MaterialCardInfographic_StepDefinition" />
			<class name="com.optum.dpm.refactored.FeaturedArticle_StepDefinition" />


			<class name="com.optum.dpm.refactored.IconStrip_StepDefinition" />
			<class
				name="com.optum.dpm.refactored.MaterialCardTermDescription_StepDefinition" />


			<class name="com.optum.dpm.refactored.DynamicAlert_StepDefinition" />
			<class name="com.optum.dpm.refactored.PullQuote_StepDefinition" />
			<class name="com.optum.dpm.refactored.Card300Image_StepDefinition" />




			<class name="com.optum.dpm.refactored.LocalMessage_StepDefinition" />

						
			<!--<class name="com.optum.dpm.refactored.Aarp_StepDefinition" />
			<class name = "com.optum.dpm.refactored.CareerSearch_StepDefinition"/> 
			<class name="com.optum.dpm.refactored.MCL_StepDefinition" /> <class name 
				= "com.optum.dpm.refactored.PluV2_StepDefinition"/> -->


		</classes>
	</test>
</suite>